let config = {
  modules: [
    {
      module: "clock",
      position: "fullscreen_above",
      config: {
      },
    },
    {
      module: "MMM-inspirobot",
      position: "fullscreen_above",
      config: {
        updateInterval: 20 * 1000
      },
    },
  ],
};

